<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + SignUp</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="container text-center">
    <div>
        <h1>Edit Poll</h1>
    </div>
    <form th:action="@{'/edit_poll/' + ${pollInfo.getPollID()}}" method="post"
          style="max-width: 600px; margin: 0 auto;"
    >
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-4"></label>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Title</label>
                <div class="">
                    <label>
                        <input type="text" class="form-control" th:name="${pollInput.Title}"  th:value="${pollInfo.Title}" required/>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Votes per person</label>
                <div class="">
                    <label>
                        <input type="number" class="form-control" th:name="${pollInput.VotesPer}" th:value="${pollInfo.VotesPer}" required/>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Deadline</label>
                <div class="">
                    <label>
                        <input type="datetime-local" class="form-control" th:name="${pollInput.Deadline}" th:value="${pollInfo.Deadline}" required/>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Timezone</label>
                <div class="">
                    <select class="form-control" th:field="${pollInput.TimeZone}">
                        <option selected th:value="${pollInfo.TimeZone}" th:text="${pollInfo.TimeZone}">Eastern</option>
                        <option th:value="'Eastern'" th:text="Eastern">Eastern</option>
                        <option th:value="'Central'" th:text="Central">Central</option>
                        <option th:value="'Mountain'" th:text="Mountain">Mountain</option>
                        <option th:value="'Pacific'" th:text="Pacific">Pacific</option>
                        <option th:value="'Alaska'" th:text="Alaska">Alaska</option>
                        <option th:value="'Hawaii'" th:text="Hawaii">Hawaii</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Location (optional)</label>
                <div class="">
                    <label>
                        <input type="text" class="form-control" th:name="${pollInput.Location}" th:value="${pollInfo.Location}"/>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-4">Notes (optional)</label>
                <div class="">
                    <label>
                        <input type="text" class="textarea" th:name="${pollInput.Notes}" th:value="${pollInfo.Notes}"/>
                    </label>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>

        </div>
    </form>
    <a th:href = "@{/homepage}">Cancel</a>
</div>

</body>
</html>