<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pollInfo.getTitle()}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="p-3 mb-2 bg-dark text-white">

<div class="container text-center">
    <div class=" bg-secondary text-dark rounded">
        <h1 th:text="'Title: ' + ${pollInfo.getTitle()}">Poll Title</h1>
        <p th:text="'Location: ' + ${pollInfo.getLocation()}">Location</p>
        <p th:text="'Notes: ' + ${pollInfo.getNotes()}">Notes</p>
        <p th:text="'Time Zone: ' + ${pollInfo.getTimeZone()}">Timezone</p>
        <p th:text="'Deadline: ' + ${pollInfo.getDeadline()}">Deadline</p>
        <p th:text="'Votes allowed per person: ' + ${pollInfo.getVotesPer()}">VpP</p>
        <p th:text="'Expired?: ' + ${pollInfo.isExpired}">Expired?</p>
    </div>


    <table class="table table-striped table-bordered bg-secondary text-dark rounded">
        <thead class=""thread-dark>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>VotesPer</th>
            <th>Delete Entry</th>
            <th>Edit Entry</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="slot: ${listSlots}">
            <td th:text="${slot.getStartTime()}">Start</td>
            <td th:text="${slot.getEndTime()}">End</td>
            <td th:text="${slot.getVotesPer()}">VotesPer</td>

<!--            TODO: Turn below line into delete option-->
            <td> <form th:action="@{'/poll_display/'+${slot.getSlotID()} + '/delete'}" method="get" >
                <div>
                    <button type="submit" class="btn btn-danger ">Delete</button>
                </div>
            </form></td>
            <td> <form th:action="@{'/poll_display/'+${slot.getSlotID()} + '/info'}" method="get" >
                <div>
                    <button type="submit" class="btn btn-info ">Edit</button>
                </div>
            </form></td>


        </tr>

        </tbody>

    </table>
    <form th:if="${pollInfo.isExpired()} == false" th:action="@{'/poll/'+${pollInfo.getPollID()} + '/add_slots'}" method="get" >
    <div>
        <button type="submit" class="btn btn-primary pb-2 ">Add Slots</button>
    </div>

    </form>
    <a th:href = "@{'/polls'}">Back</a>
</div>
</body>
</html>