<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index - DoodlePool</title>
    <!--change this for react-->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="container text-center">
    <div>
        <h1>Welcome to DOOMER ENGINEER'S DOODLE POOL!</h1>
    </div>
    <div>
        <h3><a th:href="@{register}">Register</a></h3>
        <h3><a th:href="@{login}">Login</a></h3>
        <h3><a th:href="@{find_poll}">Find Poll</a></h3>
    </div>
</div>
</body>
</html>