<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Polls</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="container text-center">
    <div>
        <h1>
            Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
        </h1>
    </div>
<table class="table table-striped table-bordered bg-secondary text-dark rounded">
    <thead class=""thread-dark>
    <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Notes</th>
        <th>Time Zone</th>
        <th>Deadline</th>
        <th>VotesPer</th>
        <th>Activate</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="poll: ${polls}">

        <td> <a th:href="@{'/poll_display/'+${poll.getPollID()}}" th:text="${poll.getTitle()}">Title </a></td>
        <td th:text="${poll.getLocation()}">Location</td>
        <td th:text="${poll.getNotes()}">Notes</td>
        <td th:text="${poll.getTimeZone()}">Time Zone</td>
        <td th:text="${poll.getDeadline()}">Deadline</td>
        <td th:text="${poll.getVotesPer()}">VotesPer</td>
        <td><form th:if="${poll.isActive()} == false " th:action="@{'/user/poll/' + ${poll.getPollID()} + '/publish'}" method="post">
            <div>
                <button class="btn btn-primary" type="submit">Publish</button>
            </div></form>
            <form th:if="${poll.isActive()} == true " th:action="@{'/user/poll/' + ${poll.getPollID()} + '/unpublish'}" method="post">
                <div>
                    <button class="btn btn-primary" type="submit">Unpublish</button>
                </div>
            </form>
        </td>
        <td>
            <form th:action="@{'/user/poll/' + ${poll.getPollID()} + '/delete'}" method="post">
                <div>
                    <button class="btn btn-danger" type="submit">Delete</button>
                </div>
            </form>
        </td>
        <td> <a th:href="@{'/polls/delete/'+${poll.getPollID()}}" th:text="'Delete'">Title </a></td>


    </tr>
    </tbody>
</table>
    <form th:action="@{'/create_poll'}" method="get" >
        <div>
            <button type="submit" class="btn btn-primary">Create Poll</button>
        </div>
    </form>
    <form th:action="@{'/find_poll'}" method="get" >
        <div class="pt-2">
            <button type="submit" class="btn btn-primary ">Back</button>
        </div>
    </form>
</div>
</body>
</html>