<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Poll: ' + ${pollInfo.getTitle()}">Poll</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="p-3 mb-2 bg-dark text-white">





<div class="container text-center">
    <div class=" bg-secondary text-dark rounded">
    <h1 th:text="'Title: ' + ${pollInfo.getTitle()}"></h1>
    <p th:text="'Location: ' + ${pollInfo.getLocation()}"></p>
    <p th:text="'Notes: ' + ${pollInfo.getNotes()}"></p>
    <p th:text="'Time Zone: ' + ${pollInfo.getTimeZone()}"></p>
    <p th:text="'Deadline: ' + ${pollInfo.getDeadline()}"></p>
    <p th:text="'Votes allowed per person: ' + ${pollInfo.getVotesPer()}"></p>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-4"></label>
        <div class="">
            <div th:if="${error != null}" class="alert alert-danger notification" role="alert">
                <p  th:text="${error}"></p>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered bg-secondary text-dark rounded">
        <thead class=""thread-dark>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>VotesPer</th>
            <th>Reserve</th>
            <th>Vote</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="slot: ${listSlots}">
            <td th:text="${slot.getStartTime()}">Start</td>
            <td th:text="${slot.getEndTime()}">End</td>
            <td th:text="${slot.getVotesPer()}">VotesPer</td>

            <td><form th:if="${slot.isReserved() == false}" th:action="@{'/user/poll/' + ${pollInfo.getPollID()} + '/slot/' + ${slot.getSlotID()} + '/reserve'}" method="post">
                <div class="">
                    <label> Email
                        <input type="email" class="form-control" th:field="${vote.email}" required/>
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-info">Reserve</button>
                </div>
            </form></td>
            <td><form th:if="${slot.isReserved() == false && slot.isFull() == false}" th:action="@{'/user/poll/' + ${pollInfo.getPollID()} + '/slot/' + ${slot.getSlotID()} + '/vote'}" method="post" >
                <div class="">
                    <label> Email
                        <input type="email" class="form-control" th:field="${vote.email}" required/>
                    </label>

                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Vote</button>
                </div>
            </form></td>


        </tr>

        </tbody>

        </thead>
    </table>

    <form th:action="@{'/find_poll'}" method="get" >
        <div>
            <button type="submit" class="btn btn-primary">Back</button>
        </div>
    </form>
</div>

</body>
</html>
<script>
    function limit(){
        var count=0;
        //Get all elements with the class name of Boxes
        var boxes=document.getElementsByClassName('boxes');
// ---- Or ------
//Get all input elements with the type of checkbox.
//var boxes=document.querySelectorAll("input[type=checkbox]");
        //(this) is used to target the element triggering the function.
        for(var i=0; i<boxes.length; i++){
            //If checkbox is checked AND checkbox name is = to (this) checkbox name +1 to count
            if(boxes[i].checked&&boxes[i].name==this.name){count++;}
        }
        //If count is more then data-max="" of that element, uncheck last selected element
        if(count>this.getAttribute("data-max")){
            this.checked=false;
            alert("Maximum of "+this.getAttribute("data-max")+".");
        }
    }
    //----Stack Overflow Snippet use---\\
    window.onload=function(){
        var boxes=document.getElementsByClassName('boxes');
// Use if you don't want to add a class name to the elements
//var boxes=document.querySelectorAll("input[type=checkbox]");
        for(var i=0; i<boxes.length; i++){
            boxes[i].addEventListener('change',limit,false);
        }
    }
</script>