<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Index</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body class="p-3 mb-2 bg-dark text-white">
<div class="container text-center">
    <div>
        <p>
            Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
        </p>
    </div>
    <div>
        <h3><a th:href="@{create_poll}">Create Polls</a></h3>
        <h3><a th:href="@{polls}">View Polls</a></h3>
    </div>
</div>
</body>
</html>