<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Events - DAMS</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div >
    <table class="table table-striped table-bordered">
        <thead class=""thread-dark>

        </thead>
        <tbody>
        <tr th:each="event: ${listEvents}">
            <td th:text="${event.getSlotID}">Slot ID</td>
            <td th:text="${event.getPollID}">Poll ID</td>
            <td th:text="${event.getStartTime}">Start</td>
            <td th:text="${event.getEndTime}">End</td>
            <td th:text="${event.getVotesPer}">Address</td>
        </tr>
        </tbody>

        </thead>
    </table>
</div>

</body>
</html>